@import url("../../styles/style.css");

.section-title {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 4px;
  background-color: #de9d25;
  animation: increaseAnimation 1s ease-in-out 1 1s;
  display: block;
}

@keyframes increaseAnimation {
  from{
    width: 0;
    display: none;
  }
  to{
    width: 70%;
    display: block;
  }
}
