<div id="animation-contianer">
    <div class="animation-container">
        <span class="first">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <strong>CRM Lite</strong>Become a GR Engaged Referral Partner (ERP) and get an Access to UniAgents
                CRM Lite for Higher Education Consultants.
            </a>
        </span>

        <span class="second">
            <a href="#">
                <i class="fa fa-plus-circle"></i>
                <strong>Value Added Service</strong>Earn Referral income: UniAgents offers a referral income to
                their registered consultants for referring students to our partnered universities, for insurance,
                accommodation, and test preparation services.
            </a>
        </span>

        <span class="third">
            <a href="#">
                <i class="fa fa-university"></i>
                <strong>High School Program</strong>Uniagents is excited to provide a range of specialized services
                for High Schools, catering to their unique counseling needs.
            </a>
        </span>

        <span class="fourth">
            <a href="#">
                <i class="fa fa-mobile"></i>
                <strong>Mobile APP</strong>For your consultancy to digitally connected with Students for better
                engagement.
            </a>
        </span>

        <span class="fifth">
            <a href="#">
                <i class="fa fa-th-large"></i>
                <strong>B2B - Promotional Campaign</strong>Your voice to student mobility stakeholders. Expand your
                network for quick Results.
            </a>
        </span>

        <span class="six">
            <a href="#">
                <i class="fa fa-star-o"></i>
                <strong>Agent Certification</strong>We achieve the highest standards for vetting Education Agents.
                Look for our quality sign before you shortlist agents.
            </a>
        </span>

        <span class="seven">
            <a href="#">
                <i class="fa fa-laptop"></i>
                <strong>Agent CRM</strong>The BEST technology tool to run an Education Agency business It will
                remain the BEST is our Guarantee.
            </a>
        </span>

        <span class="eight">
            <a href="#">
                <i class="fa fa-newspaper-o"></i>
                <strong>Latest News</strong>Stay up to date with Education news Largest aggregator of news from over
                100 top sources.
            </a>
        </span>
    </div>
</div>