<footer class="bg-body-tertiary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div>
          <h3 class="headline2-color pb-4">
            <span class="logo" routerLink="/">
              <img
                src="../../../assets/images/app-logo.png"
                alt=""
                class="w-100"
              />
            </span>
          </h3>
          <p class="secondary-text-color">
            CIAV is one of the leading educational consultant in Hyderabad. CIAV
            is providing best services to Indian students who are willing to do
            their higher education abroad. Our main motive is to fulfill the
            dreams of studying abroad for our students.
          </p>
          <div>
            <h4 class="headline2-color fs-6">
              <i class="bi bi-envelope-at-fill"></i>
              <span class="px-2">studentconsultancy&#64;gmail.com</span>
            </h4>
            <h4 class="headline2-color fs-6">
              <i class="bi bi-telephone-fill"></i>
              <span class="px-2">+91 8745879569</span>
            </h4>
          </div>
          <div class="links d-flex gap-3 pt-4">
            <a href="#"><i class="bi bi-facebook text-primary"></i></a>
            <a href="#"><i class="bi bi-whatsapp text-success"></i></a>
            <a href="#"><i class="bi bi-instagram text-info"></i></a>
            <a href="#"><i class="bi bi-youtube text-danger"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <h4 class="headline2-color">Useful Links</h4>
        <ul
          class="ps-3 list-unstyled d-flex flex-column gap-3 pt-4 secondary-text-color"
        >
          <li>How to find a course</li>
          <li>Study Abroad courses</li>
          <li>How to find scholarships</li>
          <li>Student Essentials</li>
          <li>Letter of Recommendation</li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <h4 class="headline2-color">Study Abroad</h4>
        <ul
          class="ps-3 list-unstyled d-flex flex-column gap-3 pt-4 secondary-text-color"
        >
          <li>How to find a course</li>
          <li>Study Abroad courses</li>
          <li>How to find scholarships</li>
          <li>Student Essentials</li>
          <li>Letter of Recommendation</li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <h4 class="headline2-color">Support</h4>
        <ul
          class="ps-3 list-unstyled d-flex flex-column gap-3 pt-4 secondary-text-color"
        >
          <li class="fs-6">How to find a course</li>
          <li>Study Abroad courses</li>
          <li>How to find scholarships</li>
          <li>Student Essentials</li>
          <li>Letter of Recommendation</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center fs-6 headline2-color border-top py-4 m-0">
          &#64;Copyright. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
