<!-- contact banner -->
<section class="banner">
  <div class="container d-flex align-items-center h-100">
    <div class="d-flex flex-column justify-content-center">
      <nav style="--bs-breadcrumb-divider: none" aria-label="breadcrumb">
        <ol class="breadcrumb ps-2">
          <li class="breadcrumb-item">
            <a routerLink="/" class="primary-text-color">Home</a>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#faebd7"
              class="size-6"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                margin-right: 0.5rem;
              "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 20.247 6-16.5"
              />
            </svg>
            Contact
          </li>
        </ol>
      </nav>
      <h1 class="headline1-color pb-3">Contact</h1>
    </div>
  </div>
</section>
<!-- contact banner -->
