<!-- about banner -->
<section class="banner">
    <div class="container d-flex align-items-center h-100">
        <div class="d-flex flex-column justify-content-center">
            <nav style="--bs-breadcrumb-divider: none" aria-label="breadcrumb">
                <ol class="breadcrumb ps-2">
                    <li class="breadcrumb-item">
                        <a routerLink="/" class="primary-text-color">Home</a>
                    </li>
                    <li class="breadcrumb-item active text-white" aria-current="page">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="#faebd7" class="size-6" style="
                  width: 1em;
                  height: 1em;
                  vertical-align: middle;
                  margin-right: 0.5rem;
                ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9 20.247 6-16.5" />
                        </svg>
                        About
                    </li>
                </ol>
            </nav>
            <h1 class="headline1-color pb-3">About Das Admission Centre</h1>
        </div>
    </div>
</section>
<!-- about banner -->

<!-- about text  -->
<section class="about-text py-5">
    <div class="container">

        <div class="inside_body_imgdiv">
            <div class="about-img w-30 float-md-end m-2">
                <img src="../../../assets/images/mission.webp" width="100%" class="shadow mt-4">
            </div>
        </div>
        <h2>Vision</h2>
        <p>Leading transformation through futuristic education consulting and skilling services</p>
        <h2 class="pt-4">Mission</h2>
        <p>Empowering students with best <a routerLink="/services"><strong>career counselling</strong></a>, education guidance, training and synergistic collaborations to help them make the best choices, realize their potential and achieve their goals. </p>
    </div>
</section>