<!-- about banner -->
<section class="banner">
  <div class="container d-flex align-items-center h-100">
    <div class="d-flex flex-column justify-content-center">
      <nav style="--bs-breadcrumb-divider: none" aria-label="breadcrumb">
        <ol class="breadcrumb ps-2">
          <li class="breadcrumb-item">
            <a routerLink="/" class="primary-text-color">Home</a>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#faebd7"
              class="size-6"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                margin-right: 0.5rem;
              "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 20.247 6-16.5"
              />
            </svg>
            About
          </li>
        </ol>
      </nav>
      <h1 class="headline1-color pb-3">About us</h1>
    </div>
  </div>
</section>
<!-- about banner -->

<!-- about text  -->
<section class="about-text py-5">
  <div class="container">
    <p class="text-center">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore porro,
      mollitia necessitatibus alias reprehenderit error harum libero! Dolore,
      est sunt in maxime exercitationem hic possimus, deserunt nulla odio eos ab
      sed accusamus quis blanditiis neque, ad quod beatae nam cupiditate minima
      quas temporibus a dicta quidem. Sunt recusandae architecto, iure excepturi
      provident nobis totam perspiciatis libero amet. Modi voluptatum maiores
      ullam? Nihil repellat culpa deserunt voluptatibus accusamus, eaque
      explicabo quasi quia animi ut saepe quidem, laborum eos nisi eum
      voluptates, perferendis error ea alias vel! Provident adipisci sint quidem
      inventore sapiente ipsam quaerat at consequuntur error totam, rem nam
      aperiam obcaecati quae cum distinctio libero laboriosam placeat ipsa atque
      quam nobis illum necessitatibus. Cupiditate, officia mollitia facere
      suscipit saepe dolorum quae quas, culpa eos enim, totam esse dolor!
      Consectetur impedit ipsa repudiandae alias optio ab, deleniti ipsum
      similique, nobis, quos eos maiores quod illum praesentium adipisci neque
      ex ducimus quae?
    </p>
  </div>
</section>
<!-- about text  -->

<!-- book a demo -->
<section class="book-demo py-5">
  <div class="container">
    <app-section-title title="Book a Demo"></app-section-title>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <p class="secondary-text-color lh-lg">
          UniAgents is a leading technology services provider, and part of
          Global Reach, an Overseas Education Consultant for over 32 years. We
          help Institutions, Consultants, Government agencies High Schools and
          Students, meet their respective international student mobility goals.
          To understand more how our technology helps meet your requirements,
          you can book a consultation session with one of our trained and
          Certified Relationship Managers. Your Specialist Relationship Manager
          will provide recommendations that will help you in making a decision
          based on a demonstration of the technology system. You can also
          request for a FREE trial if you qualify for it.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="book-demo-img">
          <img
            src="../../../assets/images/echo-system.png"
            alt=""
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- book a demo -->
