<!-- service banner -->
<section class="banner">
  <div class="container d-flex align-items-center h-100">
    <div class="d-flex flex-column justify-content-center">
      <nav style="--bs-breadcrumb-divider: none" aria-label="breadcrumb">
        <ol class="breadcrumb ps-2">
          <li class="breadcrumb-item">
            <a routerLink="/" class="primary-text-color">Home</a>
          </li>
          <li class="breadcrumb-item active text-white" aria-current="page">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#faebd7"
              class="size-6"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                margin-right: 0.5rem;
              "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m9 20.247 6-16.5"
              />
            </svg>
            Services
          </li>
        </ol>
      </nav>
      <h1 class="headline1-color pb-3">Services</h1>
    </div>
  </div>
</section>
<!-- service banner -->

<!-- services sec  -->
<section class="services py-5">
  <div class="container">
    <div class="d-flex justify-content-between pb-3">
      <app-section-title title="Services"></app-section-title>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of serviceList"
      >
        <section-card
          title="{{ card.title }}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!-- services sec  -->

<!--student services sec  -->
<section class="student-services py-5">
  <div class="container">
    <div class="d-flex justify-content-between pb-3">
      <app-section-title title="Student's Services"></app-section-title>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of studentServiceList"
      >
        <section-card
          title="{{ card.title }}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!--student services sec  -->
