@import url(../../styles/style.css);

.carousel1 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(1\).avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel2 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(1\).jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel3 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(1\).jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
}
.carousel4 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(1\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel5 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(1\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel6 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(2\).jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
}
.carousel7 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(2\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel8 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(2\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel9 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(3\).jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
}
.carousel10 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(3\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel11 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(3\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel12 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(4\).jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
}
.carousel13 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(4\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel14 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(5\).jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.carousel15 {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(128, 128, 128, 0.5)
    ),
    url("../../../assets/images/banner\ \(5\).jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
}

.blinking-text {
  animation-name: blink;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 3px;
  transition: all 0.3s;
  text-align: center;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: Infinite;
}

@keyframes blink {
  0% {
    color: red;
  }
  30% {
    color: blue;
  }
  70%{
    color: green;
  }
  100% {
    color: red;
  }
}

.circle {
  width: 200px;
  height: 200px;
  padding: 0.5rem;
}
