<!-- Home Carousel sec  -->
<div class="container-fluid g-0">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel1">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1 class="headline1-color pb-3">
                  Student Admission Consultancy
                </h1>
                <p class="primary-text-color pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                  amet, et magni ipsa repellendus qui architecto dolor
                  praesentium vel molestiae.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel2">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1 class="headline1-color pb-3">
                  Student Admission Consultancy
                </h1>
                <p class="primary-text-color pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                  amet, et magni ipsa repellendus qui architecto dolor
                  praesentium vel molestiae.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel3">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h1 class="headline1-color pb-3">
                  Student Admission Consultancy
                </h1>
                <p class="primary-text-color pb-2">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                  amet, et magni ipsa repellendus qui architecto dolor
                  praesentium vel molestiae.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Home Carousel sec  -->

<!-- Why us  -->
<section class="why-us py-5">
  <div class="container">
    <app-section-title title="Why Us"></app-section-title>

    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
        *ngFor="let item of whyUsList"
      >
        <why-us-sec title="{{ item.title }}" src="{{ item.src }}"></why-us-sec>
      </div>
    </div>
  </div>
</section>
<!-- Why us  -->

<!-- Service / Animated -->
<section class="services-container py-5">
  <div id="animation-contianer">
    <app-section-animated></app-section-animated>
  </div>
</section>
<!-- Service / Animated -->

<!-- services sec  -->
<section class="services py-5">
  <div class="container">
    <div class="d-flex justify-content-between pb-3">
      <app-section-title title="Services"></app-section-title>
      <app-props-button
        title="View All"
        (buttonClick)="onServiceClick()"
      ></app-props-button>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of serviceList.slice(0, 3)"
      >
        <section-card
          title="{{ card.title }}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!-- services sec  -->

<!-- book a demo -->
<section class="book-demo py-5">
  <div class="container">
    <app-section-title title="Book a Demo"></app-section-title>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <p class="secondary-text-color lh-lg">
          UniAgents is a leading technology services provider, and part of
          Global Reach, an Overseas Education Consultant for over 32 years. We
          help Institutions, Consultants, Government agencies High Schools and
          Students, meet their respective international student mobility goals.
          To understand more how our technology helps meet your requirements,
          you can book a consultation session with one of our trained and
          Certified Relationship Managers. Your Specialist Relationship Manager
          will provide recommendations that will help you in making a decision
          based on a demonstration of the technology system. You can also
          request for a FREE trial if you qualify for it.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="book-demo-img">
          <img
            src="../../../assets/images/echo-system.png"
            alt=""
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- book a demo -->

<!-- important links -->
<section class="important-links py-5">
  <div class="container">
    <app-section-title title="Important Links"></app-section-title>

    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of linkList"
      >
        <section-card
          title="{{ card.title }}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!-- important links -->

<!-- students services  -->
<section class="student-service py-5">
  <div class="container">
    <app-section-title title="Student's Services"></app-section-title>

    <section-carousel [linkList]="studentServiceList"></section-carousel>
  </div>
</section>
<!-- students services  -->
