<!-- Home Carousel sec  -->
<div class="container-fluid g-0">
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel1">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" data-aos="fade-right" data-aos-delay="200">Welcome to</h3>
                <h1 class="headline1-color pb-3" data-aos="fade-right" data-aos-delay="800">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2" data-aos="fade-right" data-aos-delay="1500">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  data-aos="fade-right" data-aos-delay="2000"
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel2">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel3">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel4">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel5">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel6">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel7">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel8">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel9">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel10">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel11">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel12">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="carousel13">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel14">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel15">
          <div class="container d-flex align-items-center h-100">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h3 class="text-primary pb-1" >Welcome to</h3>
                <h1 class="headline1-color pb-3">
                  Das Admission Centre
                </h1>
                <p class="primary-text-color pb-2">
                  At Das Admission Centre, we have been turning dreams into reality. As India's leading education consultancy, we don't just guide students – we build their futures.
                </p>
                <app-props-button
                  color="light"
                  title="Get Started"
                  (buttonClick)="onCarouselClick()"
                  
                ></app-props-button>
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Home Carousel sec  -->
<!-- blinking text  -->
<p class="blinking-text py-4" data-aos="fade-up">ADMISSION OPEN 2025</p>
<!-- blinking text  -->
<!-- Why us  -->
<section class="why-us py-5" data-aos="fade-up">
  <div class="container">
    <app-section-title title="Our Associated Colleges"></app-section-title>

    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
        *ngFor="let item of associatedCities;index as i"
        data-aos="fade-up" [attr.data-aos-delay]="i * 200 + 100"
      >
        <why-us-sec
          title="{{ item.title }}"
          src="{{ item.src }}"
          slug="{{ item.slug }}"
        ></why-us-sec>
      </div>
    </div>
  </div>
</section>
<!-- Why us  -->

<!-- Service / Animated -->
<section class="services-container py-5 d-none d-sm-block" data-aos="fade-up">
  <div id="animation-contianer">
    <app-section-animated></app-section-animated>
  </div>
</section>
<!-- Service / Animated -->

<!-- services sec  -->
<section class="services py-5">
  <div class="container">
    <div class="d-flex justify-content-between pb-3">
      <app-section-title title="Services"></app-section-title>
      <app-props-button
        title="View All"
        (buttonClick)="onServiceClick()"
      ></app-props-button>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of serviceList; index as i"
        data-aos="fade-up" [attr.data-aos-delay]="i * 200 + 100"
      >
        <section-card
          title="{{ card.title + i}}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!-- services sec  -->

<!-- book a demo -->
<section class="book-demo py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 mb-lg-0" data-aos="fade-up" [attr.data-aos-delay]="200">
        <div class="d-flex justify-content-center">
          <div
            class="circle bg-light rounded-circle d-flex justify-content-center align-items-center flex-column"
          >
            <h1><span data-purecounter-start="0" data-purecounter-end="1100" data-purecounter-duration="3" class="purecounter">0</span>+</h1>
            <h4 class="text-center fs-5">Students Placed</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 mb-lg-0" data-aos="fade-up" [attr.data-aos-delay]="200">
        <div class="d-flex justify-content-center">
          <div
            class="circle bg-light rounded-circle d-flex justify-content-center align-items-center flex-column"
          >
            <h1><span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="3" class="purecounter">0</span>+</h1>
            <h4 class="text-center fs-5">Associate College's</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 mb-lg-0" data-aos="fade-up" [attr.data-aos-delay]="200">
        <div class="d-flex justify-content-center">
          <div
            class="circle bg-light rounded-circle d-flex justify-content-center align-items-center flex-column"
          >
            <h1><span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="3" class="purecounter">0</span></h1>
            <h4 class="text-center fs-5">
              Years of Experience in admission counselling
            </h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3 mb-lg-0" data-aos="fade-up" [attr.data-aos-delay]="200">
        <div class="d-flex justify-content-center">
          <div
            class="circle bg-light rounded-circle d-flex justify-content-center align-items-center flex-column"
          >
            <h1><span data-purecounter-start="0" data-purecounter-end="500" data-purecounter-duration="3" class="purecounter">0</span>+</h1>
            <h4 class="text-center fs-5">
              Associate Institutions
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- book a demo -->

<!-- important links -->
<section class="important-links py-5">
  <div class="container">
    <app-section-title title="Important Links"></app-section-title>

    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4"
        *ngFor="let card of linkList; index as i"
        data-aos="fade-up" [attr.data-aos-delay]="i * 200 + 100"
      >
        <section-card
          title="{{ card.title }}"
          image="{{ card.image }}"
          description="{{ card.description }}"
        ></section-card>
      </div>
    </div>
  </div>
</section>
<!-- important links -->

<!-- students services  -->
<section class="student-service py-5" data-aos="fade-up" [attr.data-aos-delay]="200">
  <div class="container">
    <app-section-title title="Student's Services"></app-section-title>

    <section-carousel [linkList]="studentServiceList"></section-carousel>
  </div>
</section>
<!-- students services  -->

<!-- placement companies  -->
<section class="student-service py-5" data-aos="fade-up" [attr.data-aos-delay]="200">
  <div class="container">
    <app-section-title title="Our Placement Companies" class="pb-3"></app-section-title>
    <section-placement-company></section-placement-company>
  </div>
</section>
<!-- placement companies  -->


