<div class="container mt-4">
  <form>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="firstname" class="form-label">Name</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="mobile-code" class="form-label">Mobile</label>
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">+91</span>
          <input
            type="text"
            class="form-control"

            aria-label="mobile"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="course" class="form-label">Course</label>
        <input
          type="course"
          id="course"
          name="course"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="remarks" class="form-label">Remarks</label>
        <input
          type="remarks"
          id="remarks"
          name="remarks"
          class="form-control"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="reference" class="form-label">Reference</label>
        <input
          type="reference"
          id="reference"
          name="reference"
          class="form-control"
        />
      </div>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>
