@import url("../../styles/style.css");

.nav-link.active {
  font-weight: bold;
  color: #3863af;
}
.nav-link:hover {
  color: #3863af;
}

.logo {
  display: block;
  width: 100px;
  top: 5px;
}

.header-strip {
  font-weight: 1rem;
  font-weight: normal;
  background-color: #3863af;
  color: white;
  font-size: 14px !important;
  font-weight: 400;
}
.header-strip .container{
  gap: 5px;
}
.header-strip a{
  color: white;
  text-decoration: none;
}
.header-strip a:hover{
  color: #de9d25;
}
